*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: League Spartan, sans-serif;
  font-weight: bold;
  height: 100vh;
}

.main-container{
  max-width: 600px;
  /* margin: 0 auto; */
  background-color: aqua;
}


header{
  display: flex;
  justify-content: space-between;
  width: 95%;
  background-color: rebeccapurple;
}